.welcome-blurb {
    font-family: "Quicksand", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    background-repeat: no-repeat;
}